{% extends "base.html" %}
{% block external %}
    <script type="text/javascript" src="/site_media/search.js"></script>
{% endblock %}
{% block title %}Search Bookmarks{% endblock %}
{% block head %}Search Bookmarks {% endblock %}
{% block content %}
<form id="search-form" method="get" action=".">
    {{ form.as_p }}
    <input type="submit" value="search" />
</form>
<div id="search-results">
    {% if show_results %}
        {% include 'bookmark_list.html' %}
    {% endif %}
</div>
{% endblock %}