#nav {
    float: right;
}

input {
    display: block;
}

ul.tags, ul.tags li {
    display: inline;
    margin: 0;
    padding: 0;
}

#tag-cloud {
    text-align: center;
}
#tag-cloud a {
    margin: 0 0.2em;
}
.tag-cloud-0 { font-size: 100%; }
.tag-cloud-1 { font-size: 120%; }
.tag-cloud-2 { font-size: 140%; }
.tag-cloud-3 { font-size: 160%; }
.tag-cloud-4 { font-size: 180%; }
.tag-cloud-5 { font-size: 200%; }

ul.bookmarks .edit {
    font-size: 70%;
}

body {
    background: rgba(204, 204, 204, 0.29);
}

.errorlist li {
    color: red;
}